<a href="https://colab.research.google.com/github/ankit6102001/EDA-explo.data.analysis-/blob/main/Python_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#identifier
A1="hello"
print(A1)

hello

In [ ]:
#string literal
a='helllo'
b="sun"
c='''my name is
    ANkit'''
print(a)
print(b)
print(c)

helllo
sun
my name is
    ANkit

In [ ]:
#character literal
a="G"
b='H'
print(a)
print(b)

G
H

In [ ]:
a=5
b=-4
c=3+4j
d=6.7
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(a)

<class 'int'>
<class 'int'>
<class 'complex'>
<class 'float'>
5

In [ ]:
#boolean literal  for false we use 0, for true we use 1
a=3  
b=(a==3)
c=True+10
print(a,b,c)

3 True 11

In [ ]:
#  special literal
var=None
print(type(var))

<class 'NoneType'>

In [ ]:
string1= "Python is a programming language"
print(string1)
print(type(string1))

Python is a programming language
<class 'str'>

In [ ]:
list=['python']
print(list)
list1=["sun","moon"]
print(list1)
list2=[4,5,6,"python"]
print(type(list2))

['python']
['sun', 'moon']
<class 'list'>

In [ ]:
tup=("sun","python")
print(type(tup))

<class 'tuple'>

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
set1=set("python")
#print("blank set:")
print(set1)
print(type(set1))

{'o', 'p', 't', 'n', 'h', 'y'}
<class 'set'>

In [ ]:
dict={1:"sonu",2:"sonu",3:"monu"}
print(dict)

{1: 'sonu', 2: 'sonu', 3: 'monu'}

In [ ]:
var= "python"
print(var)
var="six"
print(var)

python
six

In [ ]:
a=4
print(a)

4

In [ ]:
num= 100
print(num)
num=200
print(num)

100
200

In [ ]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [ ]:
a,b,c=2,4,7
print(a,b,c)

2 4 7

In [ ]:
a=5
a="python"
print(a)

python

In [ ]:
a=7
b=5
print(a+b)

12

In [ ]:
a=int(input("enter a NUMBER:"))
print(type(a))

enter a NUMBER:5
<class 'int'>

In [ ]:
# Arithemetic operator -> addition , subtraction, division , multiplication
a=9
b=4
add=a+b
sub=a-b
mul=a*b
div1=a/b #float
div2=a//b #floor
mod = a%b
p = a**b  # 9^4
print(add)
print(sub)
print(mul)
print(div1)
print(div2)
print(mod)
print(p)

13
5
36
2.25
2
1
6561

In [ ]:
# comparison operator 
a=43
b=43
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
False
True
False
True
True

In [ ]:
#loogical operator -> logical AND , logical OR , logical NOT
a =True
b= False
print(a and b)
print(a or b)
print(not b)

False
True
True

In [ ]:
# assignmnent operator
a=5
b=a
print(b)
b+=a # b=b+a
print(b)
b-=a
print(b)

5
10
5

In [ ]:
# Identity operators  -> is and is not
a=10
b=20
c=20
print(a is not b)
print(a is c)

True
False

In [ ]:
#membership operator -> in , in not
a=24
b=20
list=[10,40,60,20]
if(b not in list):
  print("not present")
else:
  print("present")

present

In [ ]:
print(5//2)

2

In [ ]:
# bit wise operator > bitwise ANd 
a=10
b=4
print(a & b)

0

In [ ]:
a=10
a=4
print(a|b)  # 1110 ->  2^0
# logical operator
a=True
b=False
print(a and b)

4
False

In [ ]:
# bitwise and -> AND & returns 1 if both the bits are 1, otherwise it return 0
# bitwise OR-> it returns 1 if any of the bits is 1, if both the bits are 0 then it returns 0
#bitwise XOR-> it returns 1 if one of the bits is 0 and the other bit is 1, if both the bits are 0 and 1 then it returns 0
a=10  # 1010
b=7  #0111
print(a^b)

13

In [ ]:
# biwise one's complement operator-> one's complement of a number A is equal to -(A+1)
a=10 # 1010 -> -(1010+1)-> -(1011) -> -11
print(~a)

-11

In [ ]:
# bitwise left shift operator -> the binary number is appended with 0s at the end
a=10 # 1010 << 2 -> 101000 ->40
print(a<<2)

40

In [ ]:
# biwise right shift -> the right side bits are removed 
a=10 # 1010 >>2 ->10 -> 2
print(a>>2)

2

In [ ]:
# ternary operator -> conditional expression 
# syntax-> [on_true] if [expression] else [on_false]
a,b=10,20
min= a if (a<b) else b
print(min)

10

In [ ]:
# if statement
i=5
if (i>10):
  print("i is greater ")
print("i is smaller")

i is smaller

In [ ]:
# if-else
i=10
if i<14:
  print("i is smaller ")
else:
  print("i is greater")

i is smaller

In [ ]:
# nested -if - if statement in another if statement
i=16
if (i==10):
  if (i<15):
    print(" i is smaller than 15")
  if (i<12):
    print("i is smaller than 12")
else:
    print("i is greater than 15")

i is greater than 15

In [ ]:
# if - elif- else ladder
i=25
if(i==10):
  print("i is 10")
elif(i==15):
  print("i is 15")
elif(i==20):
  print("i is 20")
else:
  print("i is not present")

i is not present

In [ ]:
b=10
b+=10 #b=b+10
print(b)

20

In [ ]:
i=10
print(True) if i<15 else print(False)

True